.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin: 100px auto 40px;
}

.field {
  line-height: 32px;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
  font-size: 24px;
  margin: 8px 0;
}

.error {
  color: rgb(180, 61, 61);
  font-size: 24px;
  margin: 0;
}

.button {
  margin: 20px auto;
  border-radius: 32px;
  font-size: 24px;
  cursor: pointer;
  line-height: 32px;
  padding: 12px;
  background-color: rgb(250, 228, 105);
  font-weight: 600;
  border: none;
  transition: all 0.5s ease;
}

.disabled {
  cursor: auto;
}

.button:hover:not([disabled]) {
  font-size: 28px;
  box-shadow: 4px 4px 2px rgb(189, 165, 33);
}

