.filterButton {
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
    line-height: 20px;
    padding: 12px;
    background-color: rgb(250, 228, 105);
    font-weight: 600;
    border: none;
    transition: all 0.5s ease;
  }

  .filterButtonActive {
    font-size: 20px;
    box-shadow: 4px 4px 2px rgb(189, 165, 33);
  }